/*
Errno::ENOENT: No such file or directory - style.sass

Backtrace:
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/plugin/compiler.rb:302:in `read'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/plugin/compiler.rb:302:in `update_stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/plugin/compiler.rb:182:in `block in update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/plugin/compiler.rb:179:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/plugin/compiler.rb:179:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/plugin/compiler.rb:262:in `block in watch'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `poll'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Errno::ENOENT: No such file or directory - style.sass"; }
