@font-face {
	font-family: 'Conv_ArchivoNarrow-BoldItalic';
	src: url('fonts/ArchivoNarrow-BoldItalic.eot');
	src: local('☺'), url('fonts/ArchivoNarrow-BoldItalic.woff') format('woff'), url('fonts/ArchivoNarrow-BoldItalic.ttf') format('truetype'), url('fonts/ArchivoNarrow-BoldItalic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_ArchivoNarrow-Bold';
	src: url('fonts/ArchivoNarrow-Bold.eot');
	src: local('☺'), url('fonts/ArchivoNarrow-Bold.woff') format('woff'), url('fonts/ArchivoNarrow-Bold.ttf') format('truetype'), url('fonts/ArchivoNarrow-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_ArchivoBlack-Regular';
	src: url('fonts/ArchivoBlack-Regular.eot');
	src: local('☺'), url('fonts/ArchivoBlack-Regular.woff') format('woff'), url('fonts/ArchivoBlack-Regular.ttf') format('truetype'), url('fonts/ArchivoBlack-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_ArchivoNarrow-Regular';
	src: url('fonts/ArchivoNarrow-Regular.eot');
	src: local('☺'), url('fonts/ArchivoNarrow-Regular.woff') format('woff'), url('fonts/ArchivoNarrow-Regular.ttf') format('truetype'), url('fonts/ArchivoNarrow-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_ArchivoNarrow-Italic';
	src: url('fonts/ArchivoNarrow-Italic.eot');
	src: local('☺'), url('fonts/ArchivoNarrow-Italic.woff') format('woff'), url('fonts/ArchivoNarrow-Italic.ttf') format('truetype'), url('fonts/ArchivoNarrow-Italic.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Conv_ufonts.com_gotham_bold';
	src: url('fonts/ufonts.com_gotham_bold.eot');
	src: local('☺'), url('fonts/ufonts.com_gotham_bold.woff') format('woff'), url('fonts/ufonts.com_gotham_bold.ttf') format('truetype'), url('fonts/ufonts.com_gotham_bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
