/******************************************************************
This stylesheet is loaded (if admin.php is setup in your
functions file) on the login page. This way you can style
the login page. It won't affect any other page, admin or front-end.
******************************************************************/
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 300;
  src: local("Lato Regular"), local("Lato-Regular"), url(http://themes.googleusercontent.com/static/fonts/lato/v6/9k-RPmcnxYEPm8CNFsH2gg.woff) format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format("woff"); }

body.login #login #nav, body.login #login #backtoblog {
  display: inline-block; }
  body.login #login #nav:after, body.login #login #backtoblog:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  html[xmlns] body.login #login #nav, body.login #login html[xmlns] #nav, html[xmlns] body.login #login #backtoblog, body.login #login html[xmlns] #backtoblog {
    display: block; }
  * html body.login #login #nav, body.login #login * html #nav, * html body.login #login #backtoblog, body.login #login * html #backtoblog {
    height: 1%; }

html {
  background: white; }

body.login {
  background: white;
  font-family: "Open Sans", sans-serif;
  -webkit-box-shadow: #01a279 0 5px inset;
  -moz-box-shadow: #01a279 0 5px inset;
  box-shadow: #01a279 0 5px inset; }
  body.login #login {
    width: auto; }
    body.login #login h1 {
      font-family: "Lato", sans-serif;
      font-size: 36px;
      font-weight: 300;
      width: 326px;
      margin: 0 auto;
      color: #01a279; }
    body.login #login h1 a {
      background: none;
      line-height: 1.1;
      height: auto;
      text-indent: 0;
      overflow: hidden;
      margin-bottom: 0;
      display: block;
      text-align: center;
      padding: 10px 0 0;
      text-transform: uppercase;
      text-decoration: none;
      color: #01a279; }
    body.login #login #loginform {
      width: 326px;
      margin: 0 auto;
      padding: 26px 24px 66px;
      font-weight: normal;
      background: none;
      border: 0;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      -o-border-radius: 0;
      border-radius: 0;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none; }
      body.login #login #loginform .input {
        font-family: "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",sans-serif;
        font-weight: 200;
        font-size: 24px;
        width: 100%;
        padding: 3px;
        margin-top: 2px;
        margin-right: 6px;
        margin-bottom: 16px;
        border: 1px solid #ddd;
        background: #fff;
        outline: none;
        box-shadow: inset 1px 1px 2px rgba(200, 200, 200, 0.2);
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0; }
      body.login #login #loginform .forgetmenot label {
        font-size: 14px;
        line-height: 37px; }
        body.login #login #loginform .forgetmenot label input {
          margin-top: 3px; }
      body.login #login #loginform #wp-submit {
        width: auto;
        height: auto;
        background: #01a279;
        border-color: #01a279;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        color: #fff;
        text-shadow: none;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 14px;
        padding: 7px 21px;
        line-height: 1.5; }
    body.login #login #nav, body.login #login #backtoblog {
      height: 14px;
      width: 326px;
      margin: 0 auto;
      padding: 0;
      font-size: 14px; }
      body.login #login #nav a, body.login #login #backtoblog a {
        color: #01a279 !important;
        text-decoration: none !important; }
        body.login #login #nav a:hover, body.login #login #backtoblog a:hover {
          text-decoration: underline !important; }
    body.login #login #nav a {
      float: right; }
    body.login #login #backtoblog {
      margin-top: -14px; }
    body.login #login #backtoblog a {
      float: left; }
  body.login .message {
    width: 306px;
    margin: 0 auto; }
