@IMPORT url("jquery.ui.dialog.css");

/*----------------- PAGES CSS--------------*/
.option-description {
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #828282;
	display: block;
	padding: 5px 0px;
	font-style: italic;
	line-height: 1.5em;
}

.icon-small {
	position: relative;
	top: -3px;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	float: left;
	background-repeat: no-repeat;
	background-image: url(../images/logo_small.png);
}

.option-container {
	padding: 0px 10px 5px 15px;
	margin: 0px 0px 10px;
	border: 1px solid #dfdfdf;
	overflow: hidden;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	background-color: #fbfbfb;
	box-shadow: 1px 1px 0px rgba(255, 255, 255, 1) inset;
}

.option-container textarea {
	width: 100%;
}

.option-container .button-primary{
	min-width:90px;
}

#wpcontent .option-container select {
	padding-left:10px;
}

#wpcontent .option-container option, #wpcontent .option-container input[type=text] {
	padding:2px 10px;
}

#wpcontent .option-container input[type=text]{
	height:25px;
	width: 100%;
}

.option-container .button-primary {
	margin: 10px 10px 0 0;
}

.option-title {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #444;
	display: block;
	padding: 15px 0px 10px;
}