body{
	line-height:1.6em;
}

.update-nag { 
	display: none; 
}
#instructions {
	max-width: 670px;
}
h3.title {
	margin: 30px 0 0 0; 
	padding: 30px 0 0 0; 
	border-top: 1px solid #ddd;
}

.two-columns{
	width:320px;
	margin-right: 20px;
	float: left;
}

.no-margin{
	margin-right: 0px;
}

#manual-instructions, #no-details{
	display: none;
	margin-bottom: -14px;
}

input.button-primary, button.button-primary, a.button-primary {
	border-color: #206787;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	padding: 7px 15px;
	margin:15px 0;
	display: block;
	max-width: 170px;
	text-align: center;
}

h3 {
  font-size: 1.7em;
  font-weight: normal;
}

#changelog li{
	background-image: url(../images/dblue.gif);
	background-repeat: no-repeat;
	background-position: 0px 2px; 
	padding-left:20px;
}

#changes-title {
    line-height: 0;
    padding-top: 20px;
}

#confirm-update{
	display: none;
}