/*
Syntax error: File to import not found or unreadable: compass.
              Load paths:
                C:/xampp/htdocs/senna/wp-content/themes/wpGrade/library
                C:/xampp/htdocs/senna/wp-content/themes/wpGrade/library/scss
        on line 6 of scss/login.scss

1: /******************************************************************
2: This stylesheet is loaded (if admin.php is setup in your
3: functions file) on the login page. This way you can style
4: the login page. It won't affect any other page, admin or front-end.
5: ******************************************************************\/
6: @import "compass";
7: @import "vendor/greedy/variables";
8: 
9: @font-face {
10:   font-family: 'Lato';
11:   font-style: normal;

Backtrace:
scss/login.scss:6
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/import_node.rb:67:in `rescue in import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/import_node.rb:45:in `import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/import_node.rb:28:in `imported_file'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/import_node.rb:37:in `css_import?'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/visitors/perform.rb:218:in `visit_import'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/visitors/base.rb:53:in `map'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/visitors/base.rb:53:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/visitors/base.rb:37:in `block in visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/visitors/base.rb:37:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/visitors/perform.rb:100:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/visitors/perform.rb:7:in `visit'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/root_node.rb:36:in `css_tree'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/engine.rb:351:in `_render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/engine.rb:282:in `render_with_sourcemap'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/plugin/compiler.rb:307:in `update_stylesheet'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/plugin/compiler.rb:182:in `block in update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/plugin/compiler.rb:179:in `each'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/plugin/compiler.rb:179:in `update_stylesheets'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.3.0.alpha.184/lib/sass/plugin/compiler.rb:262:in `block in watch'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/multi_listener.rb:108:in `on_change'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/multi_listener.rb:117:in `block in initialize_adapter'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `call'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/adapters/polling.rb:56:in `poll'
C:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-0.7.3/lib/listen/adapters/polling.rb:32:in `block in start'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: File to import not found or unreadable: compass.\A               Load paths:\A                 C:/xampp/htdocs/senna/wp-content/themes/wpGrade/library\A                 C:/xampp/htdocs/senna/wp-content/themes/wpGrade/library/scss\A         on line 6 of scss/login.scss\A \A 1: /******************************************************************\A 2: This stylesheet is loaded (if admin.php is setup in your\A 3: functions file) on the login page. This way you can style\A 4: the login page. It won't affect any other page, admin or front-end.\A 5: ******************************************************************/\A 6: @import \"compass\";\A 7: @import \"vendor/greedy/variables\";\A 8: \A 9: @font-face {\A 10:   font-family: 'Lato';\A 11:   font-style: normal;"; }
