$fontPath:   "fonts/entypo2" !default;

@font-face {
    font-family: 'entypo';
    src: url('#{$fontPath}/entypo.eot');
    src: url('#{$fontPath}/entypo.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}/entypo.woff') format('woff'),
         url('#{$fontPath}/entypo.ttf') format('truetype'),
         url('#{$fontPath}/entypo.svg#entypo') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'entypo-social';
    src: url('#{$fontPath}/entypo-social.eot');
    src: url('#{$fontPath}/entypo-social.eot?#iefix') format('embedded-opentype'),
         url('#{$fontPath}/entypo-social.woff') format('woff'),
         url('#{$fontPath}/entypo-social.ttf') format('truetype'),
         url('#{$fontPath}/entypo-social.svg#entypo-social') format('svg');
    font-weight: normal;
    font-style: normal;

}
 
 [class^="icon-e-"]:before, [class*=" icon-e-"]:before {
  font-family: "entypo";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-e-plus:before { content: '\e816'; } /* '' */
.icon-e-minus:before { content: '\e819'; } /* '' */
.icon-e-info:before { content: '\e81e'; } /* '' */
.icon-e-left-thin:before { content: '\e88c'; } /* '' */
.icon-e-up-thin:before { content: '\e88e'; } /* '' */
.icon-e-right-thin:before { content: '\e88d'; } /* '' */
.icon-e-down-thin:before { content: '\e88b'; } /* '' */
.icon-e-level-up:before { content: '\e893'; } /* '' */
.icon-e-level-down:before { content: '\e892'; } /* '' */
.icon-e-switch:before { content: '\e896'; } /* '' */
.icon-e-infinity:before { content: '\e8c2'; } /* '' */
.icon-e-plus-squared:before { content: '\e818'; } /* '' */
.icon-e-minus-squared:before { content: '\e81b'; } /* '' */
.icon-e-home:before { content: '\e821'; } /* '' */
.icon-e-keyboard:before { content: '\e83a'; } /* '' */
.icon-e-erase:before { content: '\e8c3'; } /* '' */
.icon-e-pause:before { content: '\e899'; } /* '' */
.icon-e-fast-forward:before { content: '\e89d'; } /* '' */
.icon-e-fast-backward:before { content: '\e89e'; } /* '' */
.icon-e-to-end:before { content: '\e89b'; } /* '' */
.icon-e-to-start:before { content: '\e89c'; } /* '' */
.icon-e-hourglass:before { content: '\e863'; } /* '' */
.icon-e-stop-1:before { content: '\e898'; } /* '' */
.icon-e-up-dir:before { content: '\e886'; } /* '' */
.icon-e-play:before { content: '\e897'; } /* '' */
.icon-e-right-dir:before { content: '\e885'; } /* '' */
.icon-e-down-dir:before { content: '\e883'; } /* '' */
.icon-e-left-dir:before { content: '\e884'; } /* '' */
.icon-e-adjust:before { content: '\e867'; } /* '' */
.icon-e-cloud:before { content: '\e8b2'; } /* '' */
.icon-e-star:before { content: '\e808'; } /* '' */
.icon-e-star-empty:before { content: '\e809'; } /* '' */
.icon-e-cup:before { content: '\e846'; } /* '' */
.icon-e-menu:before { content: '\e811'; } /* '' */
.icon-e-moon:before { content: '\e8b5'; } /* '' */
.icon-e-heart-empty:before { content: '\e807'; } /* '' */
.icon-e-heart:before { content: '\e806'; } /* '' */
.icon-e-note:before { content: '\e800'; } /* '' */
.icon-e-note-beamed:before { content: '\e801'; } /* '' */
.icon-e-layout:before { content: '\e810'; } /* '' */
.icon-e-flag:before { content: '\e82a'; } /* '' */
.icon-e-tools:before { content: '\e856'; } /* '' */
.icon-e-cog:before { content: '\e855'; } /* '' */
.icon-e-attention:before { content: '\e83e'; } /* '' */
.icon-e-flash:before { content: '\e8b4'; } /* '' */
.icon-e-record:before { content: '\e89a'; } /* '' */
.icon-e-cloud-thunder:before { content: '\e8b3'; } /* '' */
.icon-e-tape:before { content: '\e8c8'; } /* '' */
.icon-e-flight:before { content: '\e8b6'; } /* '' */
.icon-e-mail:before { content: '\e805'; } /* '' */
.icon-e-pencil:before { content: '\e836'; } /* '' */
.icon-e-feather:before { content: '\e837'; } /* '' */
.icon-e-check:before { content: '\e812'; } /* '' */
.icon-e-cancel:before { content: '\e813'; } /* '' */
.icon-e-cancel-circled:before { content: '\e814'; } /* '' */
.icon-e-cancel-squared:before { content: '\e815'; } /* '' */
.icon-e-help:before { content: '\e81c'; } /* '' */
.icon-e-quote:before { content: '\e833'; } /* '' */
.icon-e-plus-circled:before { content: '\e817'; } /* '' */
.icon-e-minus-circled:before { content: '\e81a'; } /* '' */
.icon-e-right:before { content: '\e881'; } /* '' */
.icon-e-direction:before { content: '\e844'; } /* '' */
.icon-e-forward:before { content: '\e832'; } /* '' */
.icon-e-ccw:before { content: '\e88f'; } /* '' */
.icon-e-cw:before { content: '\e890'; } /* '' */
.icon-e-left:before { content: '\e880'; } /* '' */
.icon-e-up:before { content: '\e882'; } /* '' */
.icon-e-down:before { content: '\e87f'; } /* '' */
.icon-e-list-add:before { content: '\e8a6'; } /* '' */
.icon-e-list:before { content: '\e8a5'; } /* '' */
.icon-e-left-bold:before { content: '\e888'; } /* '' */
.icon-e-right-bold:before { content: '\e889'; } /* '' */
.icon-e-up-bold:before { content: '\e88a'; } /* '' */
.icon-e-down-bold:before { content: '\e887'; } /* '' */
.icon-e-user-add:before { content: '\e80c'; } /* '' */
.icon-e-help-circled:before { content: '\e81d'; } /* '' */
.icon-e-info-circled:before { content: '\e81f'; } /* '' */
.icon-e-eye:before { content: '\e826'; } /* '' */
.icon-e-tag:before { content: '\e827'; } /* '' */
.icon-e-upload-cloud:before { content: '\e82f'; } /* '' */
.icon-e-reply:before { content: '\e830'; } /* '' */
.icon-e-reply-all:before { content: '\e831'; } /* '' */
.icon-e-code:before { content: '\e834'; } /* '' */
.icon-e-export:before { content: '\e835'; } /* '' */
.icon-e-print:before { content: '\e838'; } /* '' */
.icon-e-retweet:before { content: '\e839'; } /* '' */
.icon-e-comment:before { content: '\e83b'; } /* '' */
.icon-e-chat:before { content: '\e83c'; } /* '' */
.icon-e-vcard:before { content: '\e840'; } /* '' */
.icon-e-address:before { content: '\e841'; } /* '' */
.icon-e-location:before { content: '\e842'; } /* '' */
.icon-e-map:before { content: '\e843'; } /* '' */
.icon-e-compass:before { content: '\e845'; } /* '' */
.icon-e-trash:before { content: '\e847'; } /* '' */
.icon-e-doc:before { content: '\e848'; } /* '' */
.icon-e-doc-text-inv:before { content: '\e84c'; } /* '' */
.icon-e-docs:before { content: '\e849'; } /* '' */
.icon-e-doc-landscape:before { content: '\e84a'; } /* '' */
.icon-e-archive:before { content: '\e851'; } /* '' */
.icon-e-rss:before { content: '\e853'; } /* '' */
.icon-e-share:before { content: '\e857'; } /* '' */
.icon-e-basket:before { content: '\e859'; } /* '' */
.icon-e-shareable:before { content: '\e858'; } /* '' */
.icon-e-login:before { content: '\e85c'; } /* '' */
.icon-e-logout:before { content: '\e85d'; } /* '' */
.icon-e-volume:before { content: '\e861'; } /* '' */
.icon-e-resize-full:before { content: '\e869'; } /* '' */
.icon-e-resize-small:before { content: '\e86a'; } /* '' */
.icon-e-popup:before { content: '\e86b'; } /* '' */
.icon-e-publish:before { content: '\e86c'; } /* '' */
.icon-e-window:before { content: '\e86d'; } /* '' */
.icon-e-arrow-combo:before { content: '\e86e'; } /* '' */
.icon-e-chart-pie:before { content: '\e8c4'; } /* '' */
.icon-e-language:before { content: '\e8ca'; } /* '' */
.icon-e-air:before { content: '\e8ce'; } /* '' */
.icon-e-database:before { content: '\e8d3'; } /* '' */
.icon-e-drive:before { content: '\e8d4'; } /* '' */
.icon-e-bucket:before { content: '\e8d5'; } /* '' */
.icon-e-thermometer:before { content: '\e8d6'; } /* '' */
.icon-e-down-circled:before { content: '\e86f'; } /* '' */
.icon-e-left-circled:before { content: '\e870'; } /* '' */
.icon-e-right-circled:before { content: '\e871'; } /* '' */
.icon-e-up-circled:before { content: '\e872'; } /* '' */
.icon-e-down-open:before { content: '\e873'; } /* '' */
.icon-e-left-open:before { content: '\e874'; } /* '' */
.icon-e-right-open:before { content: '\e875'; } /* '' */
.icon-e-up-open:before { content: '\e876'; } /* '' */
.icon-e-down-open-mini:before { content: '\e877'; } /* '' */
.icon-e-left-open-mini:before { content: '\e878'; } /* '' */
.icon-e-right-open-mini:before { content: '\e879'; } /* '' */
.icon-e-up-open-mini:before { content: '\e87a'; } /* '' */
.icon-e-down-open-big:before { content: '\e87b'; } /* '' */
.icon-e-left-open-big:before { content: '\e87c'; } /* '' */
.icon-e-right-open-big:before { content: '\e87d'; } /* '' */
.icon-e-up-open-big:before { content: '\e87e'; } /* '' */
.icon-e-progress-0:before { content: '\e89f'; } /* '' */
.icon-e-progress-1:before { content: '\e8a0'; } /* '' */
.icon-e-progress-2:before { content: '\e8a1'; } /* '' */
.icon-e-progress-3:before { content: '\e8a2'; } /* '' */
.icon-e-back-in-time:before { content: '\e8aa'; } /* '' */
.icon-e-network:before { content: '\e8ad'; } /* '' */
.icon-e-inbox:before { content: '\e8af'; } /* '' */
.icon-e-install:before { content: '\e8b0'; } /* '' */
.icon-e-lifebuoy:before { content: '\e8b9'; } /* '' */
.icon-e-mouse:before { content: '\e8ba'; } /* '' */
.icon-e-dot:before { content: '\e8bd'; } /* '' */
.icon-e-dot-2:before { content: '\e8be'; } /* '' */
.icon-e-dot-3:before { content: '\e8bf'; } /* '' */
.icon-e-suitcase:before { content: '\e8bc'; } /* '' */
.icon-e-flow-cascade:before { content: '\e8d8'; } /* '' */
.icon-e-flow-branch:before { content: '\e8d9'; } /* '' */
.icon-e-flow-tree:before { content: '\e8da'; } /* '' */
.icon-e-flow-line:before { content: '\e8db'; } /* '' */
.icon-e-flow-parallel:before { content: '\e8dc'; } /* '' */
.icon-e-brush:before { content: '\e8c0'; } /* '' */
.icon-e-paper-plane:before { content: '\e8b7'; } /* '' */
.icon-e-magnet:before { content: '\e8c1'; } /* '' */
.icon-e-gauge:before { content: '\e8de'; } /* '' */
.icon-e-traffic-cone:before { content: '\e8df'; } /* '' */
.icon-e-cc:before { content: '\e8e0'; } /* '' */
.icon-e-cc-by:before { content: '\e8e1'; } /* '' */
.icon-e-cc-nc:before { content: '\e8e2'; } /* '' */
.icon-e-cc-nc-eu:before { content: '\e8e3'; } /* '' */
.icon-e-cc-nc-jp:before { content: '\e8e4'; } /* '' */
.icon-e-cc-sa:before { content: '\e8e5'; } /* '' */
.icon-e-cc-nd:before { content: '\e8e6'; } /* '' */
.icon-e-cc-pd:before { content: '\e8e7'; } /* '' */
.icon-e-cc-zero:before { content: '\e8e8'; } /* '' */
.icon-e-cc-share:before { content: '\e8e9'; } /* '' */
.icon-e-cc-remix:before { content: '\e8ea'; } /* '' */
.icon-e-github:before { content: '\e8eb'; } /* '' */
.icon-e-github-circled:before { content: '\e8ec'; } /* '' */
.icon-e-flickr:before { content: '\e8ed'; } /* '' */
.icon-e-flickr-circled:before { content: '\e8ee'; } /* '' */
.icon-e-vimeo:before { content: '\e8ef'; } /* '' */
.icon-e-vimeo-circled:before { content: '\e8f0'; } /* '' */
.icon-e-twitter:before { content: '\e8f1'; } /* '' */
.icon-e-twitter-circled:before { content: '\e8f2'; } /* '' */
.icon-e-facebook:before { content: '\e8f3'; } /* '' */
.icon-e-facebook-circled:before { content: '\e8f4'; } /* '' */
.icon-e-facebook-squared:before { content: '\e8f5'; } /* '' */
.icon-e-gplus:before { content: '\e8f6'; } /* '' */
.icon-e-gplus-circled:before { content: '\e8f7'; } /* '' */
.icon-e-pinterest:before { content: '\e8f8'; } /* '' */
.icon-e-pinterest-circled:before { content: '\e8f9'; } /* '' */
.icon-e-tumblr:before { content: '\e8fa'; } /* '' */
.icon-e-tumblr-circled:before { content: '\e8fb'; } /* '' */
.icon-e-linkedin:before { content: '\e8fc'; } /* '' */
.icon-e-linkedin-circled:before { content: '\e8fd'; } /* '' */
.icon-e-dribbble:before { content: '\e8fe'; } /* '' */
.icon-e-dribbble-circled:before { content: '\e8ff'; } /* '' */
.icon-e-stumbleupon:before { content: '\e900'; } /* '' */
.icon-e-stumbleupon-circled:before { content: '\e901'; } /* '' */
.icon-e-lastfm:before { content: '\e902'; } /* '' */
.icon-e-lastfm-circled:before { content: '\e903'; } /* '' */
.icon-e-rdio:before { content: '\e904'; } /* '' */
.icon-e-rdio-circled:before { content: '\e905'; } /* '' */
.icon-e-spotify:before { content: '\e906'; } /* '' */
.icon-e-spotify-circled:before { content: '\e907'; } /* '' */
.icon-e-qq:before { content: '\e908'; } /* '' */
.icon-e-instagram:before { content: '\e909'; } /* '' */
.icon-e-dropbox:before { content: '\e90a'; } /* '' */
.icon-e-evernote:before { content: '\e90b'; } /* '' */
.icon-e-flattr:before { content: '\e90c'; } /* '' */
.icon-e-skype:before { content: '\e90d'; } /* '' */
.icon-e-skype-circled:before { content: '\e90e'; } /* '' */
.icon-e-renren:before { content: '\e90f'; } /* '' */
.icon-e-sina-weibo:before { content: '\e910'; } /* '' */
.icon-e-paypal:before { content: '\e911'; } /* '' */
.icon-e-picasa:before { content: '\e912'; } /* '' */
.icon-e-soundcloud:before { content: '\e913'; } /* '' */
.icon-e-mixi:before { content: '\e914'; } /* '' */
.icon-e-behance:before { content: '\e915'; } /* '' */
.icon-e-google-circles:before { content: '\e916'; } /* '' */
.icon-e-vkontakte:before { content: '\e917'; } /* '' */
.icon-e-smashing:before { content: '\e918'; } /* '' */
.icon-e-db-shape:before { content: '\e91a'; } /* '' */
.icon-e-sweden:before { content: '\e919'; } /* '' */
.icon-e-logo-db:before { content: '\e91b'; } /* '' */
.icon-e-picture:before { content: '\e80e'; } /* '' */
.icon-e-globe:before { content: '\e8b1'; } /* '' */
.icon-e-leaf:before { content: '\e8b8'; } /* '' */
.icon-e-graduation-cap:before { content: '\e8c9'; } /* '' */
.icon-e-mic:before { content: '\e85e'; } /* '' */
.icon-e-palette:before { content: '\e8a4'; } /* '' */
.icon-e-ticket:before { content: '\e8cb'; } /* '' */
.icon-e-video:before { content: '\e80d'; } /* '' */
.icon-e-target:before { content: '\e8a3'; } /* '' */
.icon-e-music:before { content: '\e802'; } /* '' */
.icon-e-trophy:before { content: '\e8a8'; } /* '' */
.icon-e-thumbs-up:before { content: '\e82b'; } /* '' */
.icon-e-thumbs-down:before { content: '\e82c'; } /* '' */
.icon-e-bag:before { content: '\e85a'; } /* '' */
.icon-e-user:before { content: '\e80a'; } /* '' */
.icon-e-users:before { content: '\e80b'; } /* '' */
.icon-e-lamp:before { content: '\e864'; } /* '' */
.icon-e-alert:before { content: '\e83f'; } /* '' */
.icon-e-water:before { content: '\e8cc'; } /* '' */
.icon-e-droplet:before { content: '\e8cd'; } /* '' */
.icon-e-credit-card:before { content: '\e8cf'; } /* '' */
.icon-e-monitor:before { content: '\e8ab'; } /* '' */
.icon-e-briefcase:before { content: '\e8bb'; } /* '' */
.icon-e-floppy:before { content: '\e8d0'; } /* '' */
.icon-e-cd:before { content: '\e8ae'; } /* '' */
.icon-e-folder:before { content: '\e850'; } /* '' */
.icon-e-doc-text:before { content: '\e84b'; } /* '' */
.icon-e-calendar:before { content: '\e85b'; } /* '' */
.icon-e-chart-line:before { content: '\e8c5'; } /* '' */
.icon-e-chart-bar:before { content: '\e8c6'; } /* '' */
.icon-e-clipboard:before { content: '\e8d1'; } /* '' */
.icon-e-attach:before { content: '\e823'; } /* '' */
.icon-e-bookmarks:before { content: '\e829'; } /* '' */
.icon-e-book:before { content: '\e84f'; } /* '' */
.icon-e-book-open:before { content: '\e84e'; } /* '' */
.icon-e-phone:before { content: '\e854'; } /* '' */
.icon-e-megaphone:before { content: '\e8d2'; } /* '' */
.icon-e-upload:before { content: '\e82e'; } /* '' */
.icon-e-download:before { content: '\e82d'; } /* '' */
.icon-e-box:before { content: '\e852'; } /* '' */
.icon-e-newspaper:before { content: '\e84d'; } /* '' */
.icon-e-mobile:before { content: '\e8ac'; } /* '' */
.icon-e-signal:before { content: '\e8a7'; } /* '' */
.icon-e-camera:before { content: '\e80f'; } /* '' */
.icon-e-shuffle:before { content: '\e894'; } /* '' */
.icon-e-loop:before { content: '\e895'; } /* '' */
.icon-e-arrows-ccw:before { content: '\e891'; } /* '' */
.icon-e-light-down:before { content: '\e865'; } /* '' */
.icon-e-light-up:before { content: '\e866'; } /* '' */
.icon-e-mute:before { content: '\e85f'; } /* '' */
.icon-e-sound:before { content: '\e860'; } /* '' */
.icon-e-battery:before { content: '\e8a9'; } /* '' */
.icon-e-search:before { content: '\e803'; } /* '' */
.icon-e-key:before { content: '\e8d7'; } /* '' */
.icon-e-lock:before { content: '\e824'; } /* '' */
.icon-e-lock-open:before { content: '\e825'; } /* '' */
.icon-e-bell:before { content: '\e83d'; } /* '' */
.icon-e-bookmark:before { content: '\e828'; } /* '' */
.icon-e-link:before { content: '\e822'; } /* '' */
.icon-e-back:before { content: '\e820'; } /* '' */
.icon-e-flashlight:before { content: '\e804'; } /* '' */
.icon-e-chart-area:before { content: '\e8c7'; } /* '' */
.icon-e-clock:before { content: '\e862'; } /* '' */
.icon-e-rocket:before { content: '\e8dd'; } /* '' */
.icon-e-block:before { content: '\e868'; } /* '' */