//Main Navigation styling



//Hide responsive navigation and open buttons
#nav-open-btn, nav.site-navigation {
	display:none;
}

.site-header-wrapper {
	position: relative;

	.search-remove {
		cursor:pointer;
		width: 5%;
		float: right;
		@include rem(font-size, 30px);
		display: block;
		@include rem(height, $headerHeight);
		@include rem(padding-top, $headerHeight/2 - 15px);
		@include rem(padding-left, 22px);
		@include rem(padding-right, 22px);
		margin-right:3%;
		vertical-align: middle;
		text-align: center;
		color: $grayDarker;
		background: none;
		position:relative;
		z-index:10;
		@extend %transition;

		span {
			width:27px;
			height:27px;
			display:block;
			@include icons-sprite(close_btn_dark);
		}

		@include mq(from 1300px) {
			margin-right:-6%;
			padding-left:0;
			padding-right:0;
		}

		&:hover {
			text-decoration: none;
			color:white;
			span {
				@include icons-sprite(close_btn_white);
			}
		}

		.lt-ie8 & {
			height: auto;
			padding-bottom: $headerHeight/2 - 30px;
		}
	}

	.search-form {
		background-color: $accentColor;
		@extend %transition;
		position: absolute;
		@include rem(top, -100px); left: 0;
		width: 100%;
		float: left;
		height: 100%;
		z-index: 200;
		pointer-events: none;


		.row-background {
			background-color:$accentColor;
		}
		.container {
			padding:0 0 0 1.5rem;
		}

		&.is-visible {
			text-decoration: none;
			background-color: $accentColor;
			background-position: 0 0;
			color: white;
			pointer-events: auto;
			display: block;
			top:0;

			form {
				pointer-events: auto;
			}
		}

		form {
			pointer-events: none;
			float:left;
			width:100%;
		}
		.search-query-wrapper {
			width: 70%;
			// float:left;
			@include rem(height, 85px);
			overflow:hidden;
			font-family: $heading-fontFamily;
			font-weight: $heading-fontWeight;
		}
		input {
			width:100%;
			float:left;
			background: none;
			color: white;
			border: 0;
			@include box-shadow(none);
			@include placeholder(white);
			@include rem(font-size, 56px);
			@include rem(line-height, $headerHeight);
			@include transition(all 0.3s);
			padding: 0;
			outline: 0;
			margin-bottom: 0;
			letter-spacing:2px;
		}

		button {
			background: none;
			padding: 0;
			border: 0;
			margin: 0;
			float: right;
			width: 18%;
			margin-right:2%;
			text-align: right;
			@include rem(font-size, 56px);
			@include rem(line-height, $headerHeight);
			font-family: $heading-fontFamily;
			font-weight: $heading-fontWeight;
			position:relative;
			z-index:10;

			&:active, &:focus {
				// color:$grayDarker;
				// letter-spacing:2px;
			}
		}
		.fancyInput > div span {
			@include rem(font-size, 56px);
			@include rem(line-height, $headerHeight);
		}
	}

	&.search-form-is-visible {

		nav.site-navigation .search-toggle {
			// background-position: 0 0;
		}
	}
}

nav.site-navigation {
	font-family: $fontFamilySansSerif-alt2;
	@include fs(13px);

	&.desktop {
		display:block;
	}

	.search-toggle {
		float: right;
		cursor:pointer;
		// display: table-cell;
		display: block;
		@include rem(height, $headerHeight);
		@include rem(padding-top, $headerHeight/2 - 12px);
		@include rem(padding-left, 22px);
		@include rem(padding-right, 22px);
		@include mq(to 900px) {
			@include rem(padding-left, 12px);
			@include rem(padding-right, 12px);
		}

		i {
			position: relative;
			left: 0;
			@include rem(top, -2px);
		}

		vertical-align: middle;
		text-align: center;
		color: $gray;

		background-color: white;
		@include background-image(linear-gradient($accentColor, $accentColor 50%, white 50%, white));
		@include background-size(100% 210%);
		background-position: 0 (-1 * $headerHeight);
		background-repeat: repeat-x;
		@extend %transition;

		&:hover {
			text-decoration: none;
			background-color: $accentColor;
			background-position: 0 0;
			color: white;
		}

		.lt-ie8 & {
			height: auto;
			padding-bottom: $headerHeight/2 - 12px;
		}
	}

	.site-mainmenu {
		@extend %unstyled;
		@extend %list-inline;
		@include rem(height, $headerHeight);
		margin: 0;
		padding:0;
		float: right;

		& > li {
			float: left;
			@include rem(height, $headerHeight);
			position: relative;	
			// @include transition(all 2s); 	

			& > a {
				// display: table-cell;
				display: block;
				text-transform: uppercase;
				@include rem(height, $headerHeight);
				@include rem(padding-top, $headerHeight/2 - 12px);
				@include rem(padding-left, 22px);
				@include rem(padding-right, 22px);
				@include mq(to 900px) {
					@include rem(padding-left, 12px);
					@include rem(padding-right, 12px);
				}
				vertical-align: middle;
				text-align: center;
				color: $grayLight;

				background-color: white;
				@include background-image(linear-gradient($accentColor, $accentColor 50%, white 50%, white));
				@include background-size(100% 210%);
				background-position: 0 105%;
				background-repeat: repeat-x;
				// @include transition(all 0.2s); 
				@extend %transition;	

				&:hover {
					text-decoration: none;
				}

				.lt-ie8 & {
					height: auto;
					padding-bottom: $headerHeight/2 - 12px;
				}
			}

			&:hover > a {
				background-color: $accentColor;
				background-position: 0 0;
				color: white;
			}

			// Styling menu items that have sub-menus
			&.current-menu-parent a,
			&.current_page_item a,
			&.current-menu-item a {
				
			}

				&.menu-parent-item {
					& > a:after {
						content: "";
						width: 5px;
						height: 5px;
						display: inline-block;
						border-color: $grayLight;
						border-style: solid;
						border-width: 1px 1px 0 0;
						@include rotate(135deg);
						@include rem(margin-left, 10px);
						position: relative;
						@include rem(top, -4px); left: 0;
						@extend %transition;
					} 

				&:hover {
					& > a:after {
						border-color: $white;
					}
				}

				ul li.menu-parent-item:after {
					top: 15px;
					@include rotate(90deg);
					border-color: #fff;	
				}
			}

			&:hover {
				// background:#f5f5f5;
				// border-top-color: $accentColor;

				& > ul.sub-menu, & > ul.sub-menu li:hover > ul.sub-menu  {
					//Display sub-menu
					// display: block;
					overflow: visible;
					opacity: 1;
					height: auto;
					margin-top: 0;
					@include mq(0 lap) { 
						display:block;
					}

				}
			}

			// Sub Menus styling
			ul.sub-menu {
				overflow:hidden;
				opacity:0;
				height:0;
				// display: none;
				float: left;
				width:200px;
				padding-left:0;
				position: absolute;
				@include rem(top, $headerHeight);
				left: 0;
				margin-top:-10px;
				z-index: 99999;

				background: #f5f5f5;
				@include box-shadow(rgba(50, 50, 50, 0.75) 0 1px 1px);
				@include transition(all 300ms);

				@include mq(0 lap) {
					height:auto;
					opacity:1;
					display:none;
					@include transition(none);
				}

				li {
					@extend %unstyled;
					width: 100%;
					
					&:hover {
						
						a {
							text-decoration:none;
							//color:#fff;
							border-color: $accentColor;
						}
					}

				}

				a {
					width: 100%;
					float:left;
					padding: 0.8em 1em;
					line-height: 1.3;
					color:$grayLight;
					border-left:3px solid transparent;

					&:hover {

					}
				}
				//3rd level sub-menu
				li.menu-parent-item {
					position:relative;
					float:left;
					ul.sub-menu {
						left:100%;
						top:0; 

						li:hover a {
							background:#fff;
						}
					}

					& > a:after {
						content: "";
						width: 5px;
						height: 5px;
						display: block;
						position: absolute;
						top:16px;
						right: 15px;
						border-color: $grayLight;
						border-style: solid;
						border-width: 1px 1px 0 0;
						@include rotate(45deg);
					}
				}

			}

			ul {
				left: 100%;
				top: 0;
				list-style:none;

				@include mq(0 1340px) {
					width:225px;
					left:-100%;
				}
			}
		}
	}
}

// Responsive Menu
@media only screen and (max-width: baseEm(getSize(lap))) {
    @import "off-canvas-menu";
}
@media only screen and (max-width: 400px) {
   .site-branding {
   		.site-logo {
   			max-height:auto;
   		}
   }
}

// Footer menu
.footer-menu {
	@extend .span6;
	@include fs(14px);
	
	.menu-main-navigation-container {
		float: right;
	}

	ul {
		float: right;
		margin: 0;

		li {
			float: left;
			list-style: none;

			&:last-child:after {
				content: "";
				padding: 0;
			}

			a {
				color: $grayLight;
				@include rem(padding, 0 0 0 $unit);

				&:hover {
					color:#fff;
				}
			}
		}
	}
}

// Paging main-navigation
.paging-navigation {

	.nav-previous {
		float:left;
	}

	.nav-next {
		float:right;
	}
}
