
//Single Project
.portfolio_single_gallery {
	ul {
		list-style:none;
		margin:0;
	}

	li {
		a {
			overflow:hidden;
	        display:block;
	        position:relative;

	        width:100%;
	        height:auto;
	        color:#fff;
	        display:block;
	        border:4px solid #fff;
	        padding:0px;

			.title {
				float:left;
				width:100%;
				height:100%;
				position:absolute; 
				top:0;
				left:0;
				z-index:10;
				margin:0;
				display:table-row;

				font-family: "BebasNeue", sans-serif;
				font-weight: 500;
				text-align:center;
				@include fs(48px);
				
				
				& > div {
					display:table;
					width:100%;
					height:100%;
				}

				span {
					display:table-cell;
					vertical-align:middle;
					padding:0 10%;
				}
	        }

			.zoom-image {
				position:absolute;
				top:10px;
				left:10px;
				i {
					color:#fff;
					@include fs(35px);
					opacity:0;
					z-index:1;
					position:relative;
					@include transition(all 0.3s);
				}
			}
		}
		&.big {
			width:66.6%;
			a .title div span {
				@include fs(80px);  
			}
		}
		&.xbig {
			width:100%;
			a .title div span {
				@include fs(80px);  
			}
		}
		&.small {
			width:33.3%;
			
		}
		&.medium {
			width:50%;
		}
		@include mq(0 lap) {
			&.big {
				width:100%;
			}
			&.medium, &.small {
				width:50%;
			}
			
		}
		&:hover {
			.zoom-image i {
				opacity:1;
			}
			img {
				opacity:0.8;
			}
		}
	}
}

.portfolio_single_gallery_classic {
	
	li {
		float:left;
		margin:0;
		list-style:none;
		img {
			float:left;
			width:100%;
			@include transition(all 0.3s);
		}

		a {
	        @extend %transition;

	        .title {
				opacity:0;
				@extend %transition;

				span {
					font-family:"Times New Roman", Times, serif;
					@include fs(50px);
				}
	        }
	        .border {
	            position:absolute;
	            top:0;
	            left:0;
	            z-index:10;
	            padding:4px;
	            width:100%;
	            height:100%;
	            display:block; 
	            opacity:0;
	            @extend %transition;
	           
	            span {
	              border:1px solid #fff;
	              width:100%;
	              height:100%;
	              display:block; 
	            }
	        }
	    }
	    &:hover {
	        a {
	          .title {
	            opacity:1;
				div {
					
				}
	          } 
	          .border {
	            padding:8px;
	            opacity:1;
	          }
	        }
	        &.text {
	          .title {

	          }
	        }
	      }
	}
}

//Single Project Style Boxed
.portfolio_single_gallery_boxed_color {

	li {
		margin:0;
		list-style:none;

		img {
			width:100%;
            position: relative;
            @include backface-visibility(hidden);
			@include transition(all 0.3s);
		}

		a {
			& > div.wrapper {
			  position: absolute;
			  background: transparent;
			  width: 100%;
			  height: 100%;
			  margin:0;
			  padding:10px;
			  left:-100%;
			}

			.title {
				span {
					@include fs(70px);

					@include media(1100px to 1500px) {
						@include fs(50px);
					}
					@include media(to 1100px) {
						@include fs(35px);
					}
				}
			}

			.video_icon {
			  span {
				position: absolute;
				top: 50%;
				left: 50%;
				width: 100px;
				height: 100px;
				margin: -50px 0 0 -50px;
				background: url("../images/mediaelement/bigplay.png") no-repeat;
				// @extend %transition;
			  }
			}
			.border {
				background: $accentColor;
				position:relative;
				top:0;
				left:0;
				padding:8px;
				width:100%;
				height:100%;
				display:block; 
				opacity:0.75;
				// @extend %transition;

				span {
				  // border:1px solid #fff;
				  // width:100%;
				  // height:100%;
				  display:none; 
				}
			}

      }
      &.text {
        a {
          font-family: $fontFamilySansSerif-alt;
          font-weight: 500;
          text-align:center;
          @include fs(48px);
          line-height:3.5;
          vertical-align:middle;
          &:hover {
            text-decoration:none;
          }
        }
        .title {
          opacity:1;
        }
      }

	}
}

.navigation-portfolio a span {
	display:none;
}

//Archive
.wrapper.portfolio_archive {
	@include rem(padding-bottom, 3*$unit);
}
.container.portfolio-boxed {
	@include rem(padding, 0 0.9*$unit);
}
.portfolio-boxed > .wrapper {
	padding:4px;
}

//Navigation
.navigation-portfolio {
	& {
		@include rem(padding-bottom, 1/2*$unit);
	}
	a {
		color:#373737;
		i {
			font-size:14px;
			padding:10px 6px;
		}
		&:hover {
			text-decoration:none;
			color:$accentColor;
		}
	}
}

#portfolio-nav {
	display: none;
}

/**** Infinite Scroll ****/

#infscr-loading {
  display: none;
}

.load_more {
	text-align:center;
	@include rem(margin-top, 30px);
	@include rem(margin-bottom, 40px);
	a {
		& {
			opacity:1;
			@include transition(all 0.3s);
			h2 {
				@include transition(all 0.3s);
			}
			&:before {
				content:'';
				display:block;
				margin:0 auto 10px;
				width:100px;
				height:9px;
				background:url('../images/loader2.gif') top center no-repeat;
				opacity:0;
			}
		}
		&:hover {
			text-decoration:none;
			h2 {
				color:$grayDark;
			}
		}
		&.loading {
			h2 {
				color:$grayDark;
			}
			&:before {
				opacity:1;
			}
		}
		&.hidden {
			opacity:0;
		}
	}
	
}

// Layout Effects
.l_portfolio_content {
	
	//If .fade_in class is present
	&.fade_in {
		@include mq(from lap) {

			//Slide Up + Fade In Effect
			opacity:0;
			@include rem(margin-top, $unit);
			@include transition(all 0.6s);

			.js-ready & {
				opacity:1;
				margin-top:0;
			}
		}
	}	
}
