//Black and white images
//Mixin
// https://dvcs.w3.org/hg/FXTF/raw-file/tip/filters/index.html 
//
// grayscale      ex: filter: grayscale(100%);
// sepia          ex: filter: sepia(100%);
// saturate       ex: filter: saturate(0%);
// hue-rotate     ex: filter: hue-rotate(45deg);
// invert         ex: filter: invert(100%);
// brightness     ex: filter: brightness(15%);
// contrast       ex: filter: contrast(200%);
// blur           ex: filter: blur(2px);
 
// @mixin filter($filter-type,$filter-amount) { 
//   -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
//   -moz-filter: $filter-type+unquote('(#{$filter-amount})');
//   -ms-filter: $filter-type+unquote('(#{$filter-amount})');
//   -o-filter: $filter-type+unquote('(#{$filter-amount})');
//   filter: $filter-type+unquote('(#{$filter-amount})');
// }


html.bw-images {
		.featured-image1, .portfolio_frontpage article ul li:not(.text), .portfolio_archive article ul li:not(.big) {
		   	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
			filter: gray; /* IE6-9 */
		   	@include filter(grayscale(100%));
		   	@include transition(all 0.3s); 
		}
		#board article ul li:hover {
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
			@include filter(grayscale(0));
		}
		.portfolio_frontpage article:hover ul li,
		.portfolio_archive article:hover ul li {
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
			@include filter(grayscale(0));
		}
		.portfolio_frontpage article ul li.xbig,
		.portfolio_archive article ul li.xbig {
			filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
			@include filter(grayscale(0));
		}
}
.grayscale {
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray; /* IE6-9 */
	@include filter(grayscale(100%));
}
#gmap .grayscale {
	// @include filter(grayscale(100%) );
}
