.s-monitor {
	@include transition(all 0.5s);
	@include scale(0.8);
	&.s-visible {
		opacity:1;
		@include scale(1);
	}
}
.s-hidden {
	opacity:0;
}

//Progress Bars
.progressbar {	
  &.s-monitor {
    &.s-hidden .progressbar-progress {
      width:0 !important;
    }
    &.s-visible  {
      .progressbar-progress {
        width:auto;
        .progressbar-tooltip {
	      	opacity:1;
	     }
      }
    }
  }
}
