.progressbar {
  @include rem(margin, $unit 0);
  @include scale(1);
  opacity:1 !important;

  &:first-child {
    margin-top: 0;
  }
}

.progressbar-bar {
  position: relative;
  // overflow-x: hidden;
  width: 100%;
  @include rem(height, 11px);
  @include border-radius(4px);
  @include border-radius(rem(4px));
  @include box-shadow(rgba(0,0,0,.2) 0 1px inset);
  background: $grayLightest;
}

.progressbar-title {
  @extend %heading;
  @include fs(14px);
  font-weight: normal !important;
}

.progressbar-progress {
  background-color: $accentColor;
  position: absolute;
  top: 0; left: 0;
  width:0; 
  @include rem(height, 11px);
  @include border-radius(4px);
  @include border-radius(rem(4px));
  @include box-shadow(rgba(0,0,0,.2) 0 1px inset);
  @include transition(all 1s 1s cubic-bezier(0.645, 0.045, 0.355, 1.000));
}

.progressbar-marker {
  position: absolute;
  top: 0; left: 0;
  @include rem(height, 11px);
  border-right: 1px solid $white;
}

.progressbar-tooltip {
  @include size(32px);
  text-align: center;
  display: block;
  position: absolute;
  @include rem(top, -22px); @include rem(right, -15px);
  background: $grayDarker;
  color: $grayLighter;
  @include rem(font-size, 10px);
  @include border-radius(2px);
  @include border-radius(rem(2px));
  @include opacity(0);
  @include transition(opacity .3s 1.4s ease-in);

  &:after {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: $grayDarker;
    @include rem(border-width, 4px);
    left: 50%;
    @include rem(margin-left, -4px);
  }
}