.testimonials_slide {
	& {
		position:relative;
		width:100%;
		padding:0 20%;
		margin:0 auto;
		// overflow:visible;
		@include media(to $sliderBreakpoint) {
			padding:0 10% 0 0;
		}
	}
	ul {
		@extend %unstyled;
		
	}
	.slides {

	}
	.slide {
		.testimonial_content {
			font-style:italic;
			color:$grayDark;
			text-transform:none;
			font-family:$fontFamilySansSerif;
			@include fs(16px);
			line-height:1.5;
			@include rem(margin-bottom, 1/2*$unit);
			p:last-child {
				@include rem(margin-bottom, 35px);
			}
		}
	}

	.flex-direction-nav {
		height:100%;
		margin:0;
		padding:0;
		position:absolute;
		bottom:0;
		left:0px;

		.flex-prev, .flex-next {
			@include square(1.1 * $unit);
			border: 1px solid transparent;
			border-bottom-color: $grayDark;
			border-left-color: $grayDark;
			background: transparent;
			opacity:0.5;

			position: absolute;
			top:40%;

			@include rotate(45deg);
			@include transition(all 0.2s);

			&:hover {
				opacity:1;
			}

			.lt-ie8 & {
				background-color: $grayDark;
			}
			
		}
		.flex-prev {
			left:10%;
		}
		.flex-next {
			right:10%;
			@include rotate(225deg);
		}
		@include media(to $sliderBreakpoint) {
			.flex-prev {
				left:5px;
			}
			.flex-next {
				right:5px;  
			}
		}
	}
}