//Post
.single-post .post {
	& > p:nth-child(2) {
		@include rem(margin-top, $unit);
		@include fs(19px);
		line-height:1.6;
	}
}

// Blockquotes
blockquote {
	font-family: $fontFamilySansSerif-alt;
	color:#b2b2b2;
	font-style:normal;
	font-weight:lighter;
	@include fs(36px);
	@include rem(margin, 0 0 1/2*$unit);
	@include rem(padding, $unit);
	border:none;

	&:before {
		content: '';
		display: block;
		margin: 0 auto 25px;
		@extend .hr;
	}

	p:first-child {
		margin-top: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}
.testimonials_slide blockquote {
	font-family: $fontFamilySansSerif-alt;
	color:$grayDark;
	font-style:normal;
	@include fs(24px);
	text-transform:uppercase;
	text-align:left;
	line-height:1.5;
	border:none;
	@include rem(padding, 0 0 0 55px);
	@include rem(margin, 3/2*$unit 0);
	position:relative;

	&:before {
		content:'\201C';
		font-size:100px;
		color:$grayDark;
		position:absolute;
		@include rem(top, -18px);
		left:0;
		border: none;
		height: auto;
	}

	p:first-child {
		margin-top: 0;
	}
	p:last-child {
		margin-bottom: 0;
	}
}

a {
	color: $link-color;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}

	//Inside the content
	p & {
		//@extend %link;
		
	}
}
.format-quote {
	a:hover {
		text-decoration:none;
		blockquote {
			color:$gray;
		}
	}
}

.testimonial_author {
	& {
		letter-spacing:1px;
		text-transform: none;
		font-family:$fontFamilySansSerif;
		@include fs(16px);
		@include rem(margin-top, -25px); 
	}
	a {
		text-decoration:none;
		color:#4e4e4e;
		&:hover {
			color:$accentColor;
		}
	}
	&:before {
		content:"";
		height:1px;
		width:45px;
		background:#4e4e4e;
		@include rem(margin-top, 11px);
		@include rem(margin-right, 15px);
		float:left;
	}
	.author_name {

	}	
	.author_function {

	}
}

b, strong {
	line-height: 0;
}

%heading {
	color: $accentColor;
}
.zeta {
	letter-spacing:2px;
	font-weight:normal !important;
	@include fs(14px);
}

//Bigger Headings
.bigger-headings {
	.alpha 		{@include fs(ms(9))};
	.beta 		{@include fs(ms(8))};
	.gama 		{@include fs(ms(6))};
	.delta 		{@include fs(ms(6))};
	.epsylon 	{@include fs(ms(5))};
	.zeta 		{@include fs(ms(4))};
}

@include media(to lap) {
		.alpha 		{@include fs(ms(5))};
		.beta 		{@include fs(ms(4))};
		.gama 		{@include fs(ms(3))};
		.delta 		{@include fs(ms(2))};
		.epsylon 	{@include fs(ms(1))};
		.zeta 		{@include fs(ms(0))};
	}